<% layout('layouts/boilerplate') %>
<%- include('partials/navbar') %>
     
<div class="alert alert-danger" role="alert">
   
    <% err %>
    <div>error page</div>
</div>

</div>
          
    


</body>
</html> 